



/*Name*/
#name{
  height:80px;
  width:80px;
  border-radius:100%;
  background-color:rgba(135, 136, 148 , 1);
  float:right;
  cursor:pointer;
}
  #homelink{
    text-decoration:none;
    
  }
  #logo{
    text-align: center;
  font-size: 46px;
  margin-top: 11px;
  color: #F5F5FA;
  font-family: 'Varela Round', sans-serif;
  }



/*Navbar*/
.container li{
  margin-top:30px;
  margin-left:30px;
  font-size:16.5px;
}

.navbar.navbar-default.navbar-fixed-top {
  opacity: 0.8;
}

/*rotate links*/
#name:hover {
  -ms-transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  transform: rotate(7deg);
}
/*rotate links*/

/*Navbar links*/
#home{
  width:100%;
  height:800px;
}
#sky{
  width:100%;
  height:800px;
}
#portfolio-part1 {
    
    width: 100%;
    height:508px;
    background-color:#f3f3f3;
}

/*about section*/
#about{
  background-color:#E0E0E0;
  height:900px;
  width:100%;
}

#me {
  height: 207px;
  width: 217px;
  border: 2px solid rgba(135, 136, 148 , 1);
  border-radius: 5%;
  box-shadow: 1px 2px 5px #888888;
  margin-left: 38%;
  margin-top: 9%;
}


  





#contact{
  width:100%;
  height: 90%;
  background-color:#4F566E;
}


/*Intro section*/
#intro{
  position: absolute;
  height: 195px;
  width: 35%;
  border: 3px solid #E4E5F0;
  text-align: center;
  margin-top: -545px;
  margin-left: 34%;
  font-size: 23px;
  background-color: rgba(135, 136, 148 , 0.2);
}
#intro p {
    margin-top: 27px;
  color: #F5F5FA;
  font-size: 28px;
  font-weight: bold;
  font-family: 'roboto', sans-serif;
  font-weight: 400;
  line-height: 156%;
}
/*Contact Section*/
#contact_info{
  position: absolute;
  margin-left: 27%;
  margin-top: 12%;

}
#contact_heading{

  color:#ffffff;
  text-align:center;
}


#contact_test{
  color:#ffffff;
  text-align:center;
  margin-top :-12%;
}




#contact_p1{
    margin-top: 8%;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 8%;

}
#bottom-bar{
      margin-top: 44%;
}

#bottom-bar p{
    margin-left: 32%;
  color: #F5F5FA;
  font-size: 15px;
  font-family: 'roboto', sans-serif;
  font-weight: 400;
    width: 240px;
  opacity: 0.5;
}

#email-address{
  height:45px;
  width:500px;
  border: 3px solid rgba(255,255, 255, 0.5 );
  margin-left:11%;
  cursor:pointer;
  margin-bottom: -7%;
}
#email{
  margin-left: 85px;
  font-size:24px;
  color:#ffffff;
  font-weight:bold;
}

#email-address:hover {
  background-color: #ffffff;
  transition-duration: 0.5s;
}

#email:hover{
  color:#273563;
  transition-duration: 0.5s;
}
#link1{
  color:#ffffff;
  margin-left:18%;
  margin-top:20%;
  float:left;
  cursor: pointer;
}
#link2{
  color:#ffffff;
  float:left;
  margin-left:10%;
  margin-top:20%;
  cursor: pointer;
}
#link3{
  color:#ffffff;
  float:left;
  margin-left:10%;
  margin-top:20%;
  cursor: pointer;
}
#link4{
  color:#ffffff;
  float:left;
  margin-left:10%;
  margin-top:20%;
  cursor: pointer;
}



.fa.fa-pinterest.fa-4x:hover {
  transform: translateY(-20px);
  transition: all 0.3s ease;

}
.fa.fa-linkedin.fa-4x:hover {
  transform: translateY(-20px);
  transition: all 0.3s ease;
}
.fa.fa-codepen.fa-4x:hover {
  transform: translateY(-20px);
  transition: all 0.3s ease;
}
.fa.fa-instagram.fa-4x:hover {
 transform: translateY(-20px);
  transition: all 0.3s ease;
}
/*Portfolio Section*/

#portfolio{
  width: 100%;
}

#development{
  float:left;
  width: 33%;
  height:300px;
  margin-top: 8%;
  margin-left: 11%;
  text-align: center;
}

#development p{

  font-family: 'roboto', sans-serif;
  margin-top: -7px;
  float: left;
  font-size: 18px;
  font-weight: 300;
  color: #444;
  line-height: 163%;

}

#development h1 {
  line-height: 110%;
  margin-bottom: 23px;
  font-family: 'roboto', sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: #444;
}

#develope-icon:hover{
  font-size:90px;
  margin-bottom: 2px;
  transition-duration: 1s;
}

#develope-icon{
margin-bottom: 30px;
}

#design{
  float:left;
  width:33%;
  height:300px;
  margin-top: 8%;
  margin-left: 8%;
  text-align: center;
}
#design-icon:hover{
  font-size:90px;
  margin-bottom: 2px;
  transition-duration: 1s;
}
#design-icon{
margin-bottom: 30px;
}

#design h1 {
  line-height: 110%;
  margin-bottom: 23px;
  font-family: 'roboto', sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: #444;
}

#design p{
  font-family: 'roboto', sans-serif;
  margin-top: -7px;
  float: left;
  font-size: 18px;
  font-weight: 300;
  color: #444;
  line-height: 163%;

}

/*Portfolio part 2*/
#portfolio-part2{
  height:2135px;
  width:100%;
  background-color:#ffffff;
}


/*About section*/
#about-header {
  margin-left: 41%;
  margin-top: 40px;
  color:#858585;
  line-height: 114%;
  margin-bottom: 20px;
  font-family: 'roboto', sans-serif;
  font-size: 33px;
  font-weight: 400;
}

#about p{
  color: #9D9C9C;
  width: 881px;
  text-align: center;
  margin-left: 16%;
  font-family: 'roboto', sans-serif;
  margin-top: 6px;
  font-size: 19px;
  font-weight: 400;
  line-height: 169%;
}

#reference-box {
  color: #A1A1A1;
  width: 500px;
  text-align: center;
  margin-left: 59%;
  font-family: 'roboto', sans-serif;
  margin-top: 46px;
  font-size: 18px;
  font-weight: 400;
  line-height: 169%;
  background-color: rgba(255,255,255, 0.4);
    box-shadow: 1px 1px 10px 2px;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 16px;
}

/*skills section*/
#skills{
  width:100%;
  height:500px;
  background-color:#ffffff;
}

#html {
  width: 11%;
  margin-top: 5%;
  float: left;
  margin-left: 6%;
  opacity:0.7;
  
}
#css{
  width: 9%;
  margin-left: 30%;
  margin-top: 13%;
  opacity:0.7;
}

#jquery {
  width: 18%;
  margin-left: -51%;
  margin-top: -8%;
  opacity:0.7;
  
}

#ps{
  width: 14%;
  margin-top: -7%;
  margin-left: -5%;
  opacity:0.7;
}

#js{
  width: 15%;
  margin-top: -25%;
  margin-left: 71%;
  opacity:0.7;
}

/*Portfolio-part2*/
/*mgmedical*/
#mgmedical {
  margin-top: 6%;
  width : 100%;
  height : 550px;
}
#mgmacbook {
  height: 360px;
  margin-top: -4%;
  margin-left: 20%;
}

#mgmacbook-image {
  width: 500px;
  float : left;
}

#mg-paragraph {
 
  font-family: 'roboto', sans-serif;
  margin-top: 50px;
  float: left;
  font-size: 18px;
  font-weight: 300;
  color: #444;
  line-height: 163%;
  margin-top: -2%;
  margin-left: 18%;
  width: 365px;
}

#mg-paragraph h1{
  line-height: 110%;
  margin-bottom: 23px;
  font-family: 'roboto', sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: #444; 
}

#visit-site{
  
  width:110px;
  text-align:center;
  font-size:18px;
  height: 33px;
  border-radius: 2px;
  cursor: pointer;
  letter-spacing: .5px;
  line-height: 36px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  background-color: #7889C2;
  color: #fff;
  margin-top: 19px;
  
}

#visit-site:hover {
  box-shadow: 0 4px 10px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  background-color: #90A0D6;
}

.divider-line{
  height: 2px;
  width: 968px;
  margin-top: 20%;
  margin-left: -153%;
  background-color: #B5BCC1;
}


/*moca*/


#moca {
  margin-top: 6%;
  width : 100%;
  height : 500px;
}

#moca .divider-line{
  margin-top:34%;
}
#mocadesktop-image {
  height: 360px;
  margin-top: 8%;
  margin-left: 20%;
  float	: left;
}

#mocaimg {
  width: 527px;
  float: left;
  margin-left: -120px;
  margin-top: -11%;
}

#moca-paragraph {
 
  font-family: 'roboto', sans-serif;
  margin-top: 3%;
  float: left;
  font-size: 18px;
  font-weight: 300;
  color: #444;
  line-height: 163%;
  margin-left  : 18%;
  width: 365px;
}


#moca-paragraph h1{
  line-height: 110%;
  margin-bottom: 23px;
  font-family: 'roboto', sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: #444; 
}

/*Linnbenton*/

/* Define the size and width of the linn benton section */
#linnbenton-section
{
   height : 700px;
   width : 100%;
}

#LinnBenton-ipad {
  float: left;
  margin-left: 201px;
  margin-top: 27px;
  height: 540px;
}

#LinnBenton-paragraph {
 
  font-family: 'roboto', sans-serif;
  margin-top: 50px;
  float: left;
  font-size: 18px;
  font-weight: 300;
  color: #444;
  line-height: 163%;
  margin-top: 55px;
  margin-left: 7%;
  width: 365px;
}

#LinnBenton-paragraph h1{
  line-height: 110%;
  margin-bottom: 23px;
  font-family: 'roboto', sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: #444; 
}

/* for scroll reveal*/
html, body {
   height: 100%;
}

/*Skills section h1*/
#skills h1{
    position: absolute;
  margin-left: 39%;
  font-family: 'roboto', sans-serif;
  margin-top: 6%;
  font-size: 79px;
  color: #9D9C9C;
  font-weight: 500;
}

#freelance-h1 {
  margin-top: 10%;
  text-align : center;
  line-height: 106%;
  margin-bottom: 23px;
  font-family: 'roboto', sans-serif;
  font-size: 37px;
  font-weight: 400;
  color: #444;
 text-decoration: underline;
}

#freelance-h2 {
  font-family: 'roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #444;
  line-height: 163%;
  margin-top: -13px;
  text-align : center;
}

#portfolio-heading{
  margin-top: 10%;
  text-align : center;
  line-height: 106%;
  margin-bottom: 23px;
  font-family: 'roboto', sans-serif;
  font-size: 37px;
  font-weight: 400;
  color: #444;
 text-decoration: underline;
}

#portfolio-h2{
   font-family: 'roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #444;
  line-height: 163%;
  margin-top: -13px;
  text-align : center;
  
}

a:hover {
  text-decoration: none;
}
/* set the maximum width of the nav bar to the max width of the page*/ 
#navcontainer
{
  width : 100%;
}
@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}

